body {
    font-family: Arial, sans-serif;
    text-align: center;
}

video{
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-repeat: repeat; */
}

.video-wrapper{
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#converter {
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    display: block;
    text-align: left;
    font-weight: 550;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    background-color: #f9f9f9;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    color: rgb(0, 210, 56);
    font-size: 20px;
    font-weight: 550;
    margin: 20px 0;
}